DEBUG=
SECRET_KEY=

# Настройки БД для Django (settings.py)
NAME=
USER=
PASSWORD=
HOST=
PORT=


# Для Celery / Redis
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# (опционально)
DJANGO_ALLOWED_HOSTS=


STRIPE_API_KEY=